body {
    background-color:#defff0;
}
a:visited {
    text-decoration: none;
}
a {
    text-decoration: none;
    color:#000000;
}
a:link {
    text-decoration: none;
}
h1 {
font-family: monospace;
font-style: normal;
font-size: 60px;
}
.img {
    left:82%;
    top:888px;
    position:absolute;
}
#imgagain {
    padding-top:40px;
    padding-left:550px;
    z-index:-45;
    position: absolute;
}
#imgagaintwo {
    padding-top:575px;
    padding-left:950px;
    z-index:-45;
    position: absolute;
}
#imgagaintwobruh {
    padding-top:775px;
    padding-left:950px;
    z-index:-45;
    position: absolute;
}
.imgtwo {
    left:0px;
    top:0px;
    display:block;
    position: absolute;
    z-index:-11;
}
.txt {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:black;
}
.imgtxt {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 450px;
    left: 30px;
    position:absolute;
    color:white;
    text-transform:uppercase;
    font-style:italic;
    z-index:97;
}
.imgtxtagainhello {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    top: 450px;
    left: 30px;
    position:absolute;
    color:white;
    text-transform:uppercase;
    font-style:italic;
    z-index:97;
}
.imgtxtversiontwo {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 100px;
    left: 30px;
    position:absolute;
    color:white;
    text-transform:uppercase;
    font-style:italic;
    z-index:97;
}
th {
    color:white;
    border: 0px solid black;
    background-color: #494949;
    font-family: monospace;
    font-size: 50px;
    position: fixed;
    z-index:98;
    mix-blend-mode:difference;
}
#titleimg {
    top: 9px;
    position: fixed;
    z-index:99;
    mix-blend-mode:normal;
    left: -30px;
    padding-top: 5px;
}
th:hover {
    background-color: #393939;
}

.num0.hover {
    background-color: #393939;
}
.num0 {
    left: 5px;
    width: 50px;
    height:67.5px;
    border-radius:0px;
}
#num1 {
    left: 69px;
    padding-top: 5px;
    padding-right: 96.666665px;
    padding-bottom: 5px;
    padding-left: 96.666665px;
}
#num2 {
    left: 491px;
    padding-top: 5px;
    padding-right: 96.666665px;
    padding-bottom: 5px;
    padding-left: 96.666665px;
}
#num3 {
    left: 913px;
    padding-top: 5px;
    padding-right: 101.666665px;
    padding-bottom: 5px;
    padding-left: 101.666665px;
}
.square {
    margin-top:588px;
    top: -6px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding-bottom:5px;
    background-color: #defff0;
    position:sticky;
    z-index:9;
  }
.squaretwo {
    margin-top:588px;
    top: -6px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding-bottom:5px;
    background-color: #defff0;
    position:sticky;
    z-index:9;
}
.bottombar {
    left:0px;
    top: 450px;
    width: 90%;
    height: 150px;
    background-color: #000000;
    position:absolute;
    opacity: 0.7;
}
.bottombarversiontwo {
    left: 0px;
    top: 100px;
    width: 100%;
    height: 150px;
    background-color: #000000;
    position:absolute;
    opacity: 0.7;
}
.aboutpillZ {
    top:650px;
    position:absolute;
    font-size:50px;
}
.aboutpillZversion {
    top:600px;
    position:absolute;
    font-size:50px;
}
.aboutpillZtwo {
    top:720px;
    position:absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}
.aboutpillZtwoversion {
    top:670px;
    position:absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}
.aboutpillZthree {
    top:930px;
    position:absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:50px;
}
.aboutpillZfour {
    top:680px;
    position:absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
}

.more {
    height:600px;
    width:100%;
    left:0px;
    top:0px;
    display:block;
    position: absolute;
    z-index:96;
    background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.5));

}
.evenmore {
    height:600px;
    width:100%;
    left:0px;
    top:0px;
    display:block;
    position: absolute;
    z-index:96;
    background-color:rgba(0,0,0,0.2)

}
.thatstoomuch{
    height:600px;
    width:100%;
    left:0px;
    top:0px;
    display:block;
    position: absolute;
    z-index:96;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
.feel {
    color: rgb(0,0,0);
    position:absolute;
    z-index:97;
    margin-left:20px;
    margin-top:615px;
    font-family:monospace;
    font-size:35px;

}
.arrow {
    position:absolute;
    z-index:98;
    margin-left:280px;
    margin-top:610px;
    width:30px;
    height:50px;
}
.buttoncircle {
    z-index:97;
    color:#2e2e2e;
    background-color:#2e2e2e;
    position:absolute;
    border-radius:50%;
    width: 45px;
    height: 45px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left:275px;
    margin-top:612px;
}

.clickablebutton {
    z-index:98;
    color:rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    position:absolute;
    border-radius:50%;
    width: 47px;
    height: 47px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left:274px;
    margin-top:611px;
}
.clickablebutton:hover {
    color:rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
}

.slider-container {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
#slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 35px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
  }
  
#slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
#slider-valueone {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
    font-stretch:expanded;
    text-align: left;
    font-size:20px;
}
#slider-valuetwo {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
    font-stretch:expanded;
    text-align:left;
    font-size: 20px;
}
#textbox  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:normal;
    font-stretch:expanded;
    font-size: 30px;
}
#location {
    color:#000000;
    /*stop*/
}
.rounded-input {
    padding:10px;
    border-radius:10px;
  }
.buttonhe {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#4ad94a;
    color:#ffffff;
    font-weight:600;
    border-radius:5px;
    width:100%;
  
  }
.buttonhe:hover {
    /* usual styles */
    padding:10px;
    border:none;
    background-color:#70ed70;
}
